
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link,
  .dropdown-item:focus,
  .dropdown-item:hover,
  .carousel-indicators .active,
  .option-box .color-option ul li,
  .option-box .gear-check {
    background: rgb(39, 117, 155);
  }
  .navbar-dark .navbar-brand span,
  .about h1 span,
  .testimonials span,
  .footer .copyright span,
  .footer h3 {
    color: rgb(39, 117, 155);
  }
  .dropdown-menu {
    border-top: 3px solid rgb(39, 117, 155);
  }
  
  .option-box .color-option {
    border: 2px solid rgb(39, 117, 155);
  }
  
  .testimonials .carousel-indicators button.active {
    border: 2px solid rgb(39, 117, 155);
  }